<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="clubs.css">
	<link rel="stylesheet" type="text/css" href="./../style.css">
	<title>Marital_Arts-Clubs</title>
</head>

<body>
	<header class="main-header">
		<h1><img src="./../public/pavilion.png">Martial arts - Clubs</h1>
		<h3>Everyone should be able to defense themselves</h3>

		<ul class="topnav">
			<li><a href="./../index.html">Home</a></li>
			<li><a href="./news.html">News</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./tournament.html">Tournaments</a></li>
			<li><a class="active" href="./clubs.html">Clubs</a></li>
		</ul>
	</header>

	<main class="cards">
		<section class="card">
			<h2 class="card-title">Samurai Kenjutsu Dojo</h2>
			<img src="./../public/USKD.jpg" alt="">
			<p class="card-desc">
				Style: Samurai <br>
				📞 09-252-694-858

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122178.3796504661!2d96.00020714761759!3d16.872215528693488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1959d4194be1f%3A0x6410c231f6a66380!2sUniversal%20Samurai%20Kenjutsu%20Dojo!5e0!3m2!1sen!2smm!4v1653268172203!5m2!1sen!2smm"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
		</section>

		<section class="card">
			<h2 class="card-title">သာကီနေဝဏ်း</h2>
			<img src="./../public/TKNW.jpg" alt="">
			<p class="card-desc">
				Style: Myanmar Thaing <br>
				📞 09-779-223-400

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d244364.06640067318!2d96.1202514!3d16.8665655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c19313aaab9ec7%3A0x10208bff66ce4af2!2sThar%20Gi%20Nay%20Wonn!5e0!3m2!1sen!2smm!4v1653269240703!5m2!1sen!2smm"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
		</section>

		<section class="card">
			<h2 class="card-title">Thut Ti Lethwei Club</h2>
			<img src="./../public/TT.jpg" alt="">
			<p class="card-desc">
				Style: LethWei <br>
				📞 09-255-863-344

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244370.12183094086!2d95.87570943281247!3d16.861881900000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1937e850d7409%3A0x7df5ba80d9b3183e!2sThut%20Ti%20Lethwei%20Club!5e0!3m2!1sen!2smm!4v1653269344573!5m2!1sen!2smm"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
		</section>

		<section class="card">
			<h2 class="card-title">Active x Gumpun Fight Club</h2>
			<img src="./../public/ACTIVE.jpg" alt="">
			<p class="card-desc">
				Style: Boxing <br>
				📞 01-534-559

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122205.14016639098!2d95.98733291640626!3d16.830789099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c19574a5f08ae1%3A0x38cb05ab5b4b0c36!2sActive%20x%20Gumpun%20Fight%20Club!5e0!3m2!1sen!2smm!4v1653290482196!5m2!1sen!2smm"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
		</section>

		<section class="card">
			<h2 class="card-title">Sean Hom WingChun</h2>
			<img src="./../public/WC.jpeg" alt="">
			<p class="card-desc">
				Style: Wing Chun <br>

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122228.72840450435!2d96.0579586737418!3d16.794191216501076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c195291c08fb51%3A0x4385a0fcbb908aaf!2sSean%20Hom%20WingChun!5e0!3m2!1sen!2smm!4v1653291011627!5m2!1sen!2smm"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
		</section>
	</main>
	<div style="height: 300px;">
		<!-- For Space -->
	</div>
</body>

</html>