<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./../style.css">
	<title>Marital_Arts-Clubs</title>
</head>
<body>
	<header class="main-header">
		<h1><img src="./../public/pavilion.png">Martial arts - Clubs</h1>
		<h3>Everyone should be able to defense themselves</h3>
	
	<ul class="topnav">
	  <li><a href="./../index.html">Home</a></li>
	  <li><a href="./news.html">News</a></li>
	  <li><a href="./about.html">About</a></li>
	  <li><a href="./tournament.html">Tournaments</a></li>
	  <li><a class="active" href="./clubs.html">Clubs</a></li>
	</ul>
	</header>	
</body>
</html>