<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./../style.css">
	<link rel="stylesheet" href="news.css">
	<title>Marital_Arts-News</title>
</head>

<body>
	<header class="main-header">
		<h1><img src="./../public/uniform.png">Martial arts - News</h1>
		<h3>News is the first draft of History</h3>

		<ul class="topnav">
			<li><a href="./../index.html">Home</a></li>
			<li><a class="active" href="./news.html">News</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./tournament.html">Tournaments</a></li>
			<li><a href="./clubs.html">Clubs</a></li>
		</ul>
	</header>

	<main>
		<article>
			<img class="image" src="./../public/new1.avif" alt="">
			<a href="https://www.independent.co.uk/news/world/middle-east/olympics-afghanistan-women-taekwondo-martial-arts-taliban-tokyo-2020-a8987646.html"
				target="_blank">If
				they saw us like this, they’d probably shoot us’ Afghan women’s Olympic ambitions are an
				uphill battle</a>
		</article>
		<article>
			<img class="image" src="./../public/new2.avif" alt="">
			<a href="https://www.independent.co.uk/news/world/americas/nunchucks-ban-new-york-second-amendment-martial-arts-bruce-lee-kung-fu-a8693061.html"
				target="_blank">Man
				wins 37 year battle to overturn New York nunchuck ban using Second Amendment</a>
		</article>
		<article>
			<img class="image" src="./../public/new3.avif" alt="">
			<a href="https://www.independent.co.uk/life-style/health-and-families/healthy-living/martial-arts-physical-mental-benefits-health-exercise-tai-chi-karate-a8342756.html"
				target="_blank">MARTIAL ARTS OFFERS BRAIN-BOOSTING BENEFITS FOR ALL AGES, RESEARCH FINDS</a>
		</article>
		<article>
			<img class="image" src="./../public/new4.avif" alt="">
			<a href="https://www.independent.co.uk/life-style/health-and-families/martial-arts-health-benefits-exercise-mental-attention-alertness-judo-a8220936.html"
				target="_blank">MARTIAL ARTS CAN IMPROVE YOUR ATTENTION SPAN LONG TERM, ACCORDING TO NEW STUDY</a>
		</article>
	</main>
	<!-- Footer Start -->
	<footer>
		<main>
			<!-- Social  -->
			<section class="social">
				<div>Follow Us on:</div>
				<ion-icon name="logo-instagram"></ion-icon>
				<ion-icon name="logo-facebook"></ion-icon>
				<ion-icon name="logo-twitter"></ion-icon>
				<ion-icon name="logo-snapchat"></ion-icon>
			</section>

			<h3>
				A Master is A Beginner Who Never Quits.
			</h3>

			<!-- Call us -->
			<section class="contact">
				<div>Contact Us:</div>
				<ion-icon name="call-outline"></ion-icon> <label>+959-888-888-888</label> <br>
				<ion-icon name="mail-outline"></ion-icon> <label>contact@martialarts.com</label>
			</section>
		</main>
		<hr>

		<!-- Copyright -->
		<section class="copyright">
			<div>Copyright © 2022 By Author</div>
			<div>All right reserved</div>
		</section>
	</footer>
	<!-- Footer End -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>